{% extends 'layout.html' %}

{% block title %}Users | {{ super() }}{% endblock %}

{% block content %}
<h1>Users List</h1>
<hr>

<a href="{{ url_for('index') }}">Go Back</a>

<ul class="list-group">
    {% for user in users %}
        <li class="list-group-item">
            <div>
                <img class="img-fluid" src="{{ user.avatar(64) }}" alt=""> {{ user.email }}
                {% if not current_user.is_following(user) %}
                <span>
                    <a class="btn btn-success" href="{{ url_for('users.user_follow', id=user.id) }}">Follow</a>
                </span>
                {% else %}
                <span>
                    <a class="btn btn-warning" href="{{ url_for('users.user_unfollow', id=user.id) }}">Unfollow</a>
                </span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}